[submodule "discovery-services"]
	path = discovery-services
	url = https://github.com/fysabelah/discovery-services.git
[submodule "card-service"]
	path = card-service
	url = https://github.com/erickmatheusribeiro/card-service.git
[submodule "payment-service"]
	path = payment-service
	url = https://github.com/DFaccio/payment-service.git
[submodule "authentication-service"]
	path = authentication-service
	url = https://github.com/AydanAmorim/Hackaton-Users.git
